In [102]:
import pandas as pd
import re
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [103]:
df = pd.read_csv("un_country_data_raw.csv")
df.head()

,Country,Category,Indicator,Year,Value
0,Afghanistan,General Information,Region,NaN,Southern Asia
1,Afghanistan,General Information,"Population (000, 2024)",NaN,42 648a
2,Afghanistan,General Information,"Pop. density (per km2, 2024)",NaN,65.7a
3,Afghanistan,General Information,Capital city,NaN,Kabul
4,Afghanistan,General Information,"Capital city pop. (000, 2024)",NaN,4 114.0c

In [104]:
df.head(50)

,Country,Category,Indicator,Year,Value
0,Afghanistan,General Information,Region,NaN,Southern Asia
1,Afghanistan,General Information,"Population (000, 2024)",NaN,42 648a
2,Afghanistan,General Information,"Pop. density (per km2, 2024)",NaN,65.7a
3,Afghanistan,General Information,Capital city,NaN,Kabul
4,Afghanistan,General Information,"Capital city pop. (000, 2024)",NaN,4 114.0c
5,Afghanistan,General Information,UN membership date,NaN,19 November 1946
6,Afghanistan,General Information,Surface area (km2),NaN,652 864b
7,Afghanistan,General Information,Sex ratio (m per 100 f),NaN,102a
8,Afghanistan,General Information,National currency,NaN,Afghani (AFN)
9,Afghanistan,General Information,Exchange rate (per US$),NaN,77.1d
10,Afghanistan,Economic indicators,GDP: Gross domestic product (million current US$),2015.0,18 700
11,Afghanistan,Economic indicators,GDP: Gross domestic product (million current US$),2020.0,19 983
12,Afghanistan,Economic indicators,GDP: Gross domestic product (million current US$),2024.0,14 175b
13,Afghanistan,Economic indicators,"GDP growth rate (annual %, const. 2015 prices)",2015.0,-2.5
14,Afghanistan,Economic indicators,"GDP growth rate (annual %, const. 2015 prices)",2020.0,-2.1
15,Afghanistan,Economic indicators,"GDP growth rate (annual %, const. 2015 prices)",2024.0,-6.2b
16,Afghanistan,Economic indicators,GDP per capita (current US$),2015.0,554
17,Afghanistan,Economic indicators,GDP per capita (current US$),2020.0,512.7
18,Afghanistan,Economic indicators,GDP per capita (current US$),2024.0,344.6b
19,Afghanistan,Economic indicators,Economy: Agriculturee (% of Gross Value Added),2015.0,22
20,Afghanistan,Economic indicators,Economy: Agriculturee (% of Gross Value Added),2020.0,31.4f
21,Afghanistan,Economic indicators,Economy: Agriculturee (% of Gross Value Added),2024.0,"35.5f,b"
22,Afghanistan,Economic indicators,Economy: Industrye (% of Gross Value Added),2015.0,9.6
23,Afghanistan,Economic indicators,Economy: Industrye (% of Gross Value Added),2020.0,13.6g
24,Afghanistan,Economic indicators,Economy: Industrye (% of Gross Value Added),2024.0,"16.9g,b"
25,Afghanistan,Economic indicators,Economy: Services and other activitye (% of GVA),2015.0,68.3
26,Afghanistan,Economic indicators,Economy: Services and other activitye (% of GVA),2020.0,55h
27,Afghanistan,Economic indicators,Economy: Services and other activitye (% of GVA),2024.0,"47.5h,b"
28,Afghanistan,Economic indicators,Employment in agriculturei (% of employed),2015.0,44.6
29,Afghanistan,Economic indicators,Employment in agriculturei (% of employed),2020.0,46
30,Afghanistan,Economic indicators,Employment in agriculturei (% of employed),2024.0,46.6b
31,Afghanistan,Economic indicators,Employment in industryi (% of employed),2015.0,20.7
32,Afghanistan,Economic indicators,Employment in industryi (% of employed),2020.0,18.5
33,Afghanistan,Economic indicators,Employment in industryi (% of employed),2024.0,18.3b
34,Afghanistan,Economic indicators,Employment in servicesi (% employed),2015.0,34.7
35,Afghanistan,Economic indicators,Employment in servicesi (% employed),2020.0,35.5
36,Afghanistan,Economic indicators,Employment in servicesi (% employed),2024.0,35.1b
37,Afghanistan,Economic indicators,Unemployment (% of labour force),2015.0,9i
38,Afghanistan,Economic indicators,Unemployment (% of labour force),2020.0,11.7
39,Afghanistan,Economic indicators,Unemployment (% of labour force),2024.0,16.3i
40,Afghanistan,Economic indicators,Labour force participation rate (female/male p...,2015.0,19.1 / 75.3i
41,Afghanistan,Economic indicators,Labour force participation rate (female/male p...,2020.0,16.5 / 66.7
42,Afghanistan,Economic indicators,Labour force participation rate (female/male p...,2024.0,5.0 / 69.3i
43,Afghanistan,Economic indicators,CPI: Consumer Price Index (2010=100),2015.0,133
44,Afghanistan,Economic indicators,CPI: Consumer Price Index (2010=100),2020.0,150c
45,Afghanistan,Economic indicators,CPI: Consumer Price Index (2010=100),2024.0,...
46,Afghanistan,Economic indicators,Agricultural production index (2014-2016=100),2015.0,96
47,Afghanistan,Economic indicators,Agricultural production index (2014-2016=100),2020.0,112
48,Afghanistan,Economic indicators,Agricultural production index (2014-2016=100),2024.0,111b
49,Afghanistan,Economic indicators,International trade: exports (million current ...,2015.0,571

In [105]:
len(df['Country'].unique())

232

## Split the data set by Categories

In [106]:
df_general_info = df[df["Category"]=="General Information"]
df_economic_indicators = df[df["Category"]=="Economic indicators"]
df_social_indicators = df[df["Category"]=="Social indicators"]
df_env_infra_indicators = df[df["Category"]=="Environment and infrastructure indicators"]
print(len(df_general_info['Country'].unique()))
print(len(df_general_info['Country'].unique()))
print(len(df_general_info['Country'].unique()))
print(len(df_general_info['Country'].unique()))

232
232
232
232

In [107]:
df_general_info = df_general_info.drop(columns=["Category","Year"],axis=1)
df_general_info.head()

       Country                      Indicator          Value
0  Afghanistan                         Region  Southern Asia
1  Afghanistan         Population (000, 2024)        42 648a
2  Afghanistan   Pop. density (per km2, 2024)          65.7a
3  Afghanistan                   Capital city          Kabul
4  Afghanistan  Capital city pop. (000, 2024)       4 114.0c

In [108]:
def pivot_df(df,idx_cols):
    pivot_df = df.pivot(index=idx_cols, columns="Indicator",values="Value")
    flat_df = pivot_df.reset_index()
    flat_df.columns.name = None
    return flat_df

In [109]:
def clean_numerical_cols(df, numerical_cols):
    df_cleaned = df.copy()

    for col in numerical_cols:
        if col in df_cleaned.columns:
            df_cleaned[col] = df_cleaned[col].str.replace(r'[^\d.]', '', regex=True)
            df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')
        else:
            print(f"Warning: Column '{col}' not found in DataFrame. Skipping.")
            
    return df_cleaned

## General Information

In [110]:
df_general_info_flat = pivot_df(df_general_info, idx_cols=["Country"])
df_general_info_flat.head()

,Country,Capital city,Capital city pop. (000),"Capital city pop. (000, 2024)",Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date
0,Afghanistan,Kabul,NaN,4 114.0c,77.1d,Afghani (AFN),65.7a,42 648a,Southern Asia,102a,652 864b,19 November 1946
1,Albania,Tirana,NaN,484.6c,93.9d,Lek (ALL),101.9a,2 792a,Southern Europe,97.8a,28 748b,14 December 1955
2,Algeria,Algiers,NaN,"2 729.3c,d",134.3e,Algerian Dinar (DZD),19.7a,46 814a,Northern Africa,104.1a,2 381 741b,08 October 1962
3,American Samoa,Pago Pago,NaN,48.5d,NaN,US Dollar (USD),"233.8a,b","47a,b",Polynesia,"101.9a,b",199c,NaN
4,Andorra,Andorra la Vella,NaN,22.6c,0.9d,Euro (EUR),174.3a,82a,Southern Europe,104.6a,468b,28 July 1993

### Note

3 Countries has Capital city pop. (000). Assming thy do not have the updated 2024 data

Maybe we can just merge with Capital city pop. (000, 2024)

In [111]:
df_general_info_flat[df_general_info_flat["Capital city pop. (000)"].notna()]["Country"]

111                    Kiribati
154    Northern Mariana Islands
212    Turks and Caicos Islands
Name: Country, dtype: object

In [112]:
numerical_cols = ["Capital city pop. (000)","Capital city pop. (000, 2024)","Exchange rate (per US$)","Pop. density (per km2, 2024)","Population (000, 2024)","Sex ratio (m per 100 f)","Surface area (km2)"]
df_general_info_flat = clean_numerical_cols(df_general_info_flat,numerical_cols)
df_general_info_flat["UN membership date"] = pd.to_datetime(df_general_info_flat["UN membership date"], errors="coerce")

In [113]:
df_general_info_flat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        232 non-null    object
 1   Capital city                   232 non-null    object
 2   Capital city pop. (000)        3 non-null      float64
 3   Capital city pop. (000, 2024)  228 non-null    float64
 4   Exchange rate (per US$)        216 non-null    float64
 5   National currency              231 non-null    object
 6   Pop. density (per km2, 2024)   230 non-null    float64
 7   Population (000, 2024)         230 non-null    float64
 8   Region                         232 non-null    object
 9   Sex ratio (m per 100 f)        230 non-null    float64
 10  Surface area (km2)             226 non-null    float64
 11  UN membership date             193 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(7), object(4)
memory usage: 21.9+ KB

In [114]:
df_general_info_flat.head()

,Country,Capital city,Capital city pop. (000),"Capital city pop. (000, 2024)",Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date
0,Afghanistan,Kabul,NaN,4114.0,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19
1,Albania,Tirana,NaN,484.6,93.9,Lek (ALL),101.9,2792.0,Southern Europe,97.8,28748.0,1955-12-14
2,Algeria,Algiers,NaN,2729.3,134.3,Algerian Dinar (DZD),19.7,46814.0,Northern Africa,104.1,2381741.0,1962-10-08
3,American Samoa,Pago Pago,NaN,48.5,NaN,US Dollar (USD),233.8,47.0,Polynesia,101.9,199.0,NaT
4,Andorra,Andorra la Vella,NaN,22.6,0.9,Euro (EUR),174.3,82.0,Southern Europe,104.6,468.0,1993-07-28

### Note

Some missing values. Dropping might be the solution? Further analysis on the nulls are needed

In [115]:
df_general_info_flat.isnull().sum()

Country                            0
Capital city                       0
Capital city pop. (000)          229
Capital city pop. (000, 2024)      4
Exchange rate (per US$)           16
National currency                  1
Pop. density (per km2, 2024)       2
Population (000, 2024)             2
Region                             0
Sex ratio (m per 100 f)            2
Surface area (km2)                 6
UN membership date                39
dtype: int64

## Economic Indicators

In [116]:
df_economic_indicators = df_economic_indicators.drop(columns=["Category"],axis=1)
df_economic_indicators.head()

,Country,Indicator,Year,Value
10,Afghanistan,GDP: Gross domestic product (million current US$),2015.0,18 700
11,Afghanistan,GDP: Gross domestic product (million current US$),2020.0,19 983
12,Afghanistan,GDP: Gross domestic product (million current US$),2024.0,14 175b
13,Afghanistan,"GDP growth rate (annual %, const. 2015 prices)",2015.0,-2.5
14,Afghanistan,"GDP growth rate (annual %, const. 2015 prices)",2020.0,-2.1

In [117]:
df_economic_indicators_flat = pivot_df(df_economic_indicators, idx_cols=["Country","Year"])
df_economic_indicators_flat.head()

,Country,Year,Agricultural production index (2014-2016=100),Agricultural production indexa (2014-2016=100),"Balance of payments, current account (million US$)","Balance of payments, current accounta (million US$)",CPI: Consumer Price Index (2010=100),CPI: Consumer Price Indexe (2010=100),"CPI: Consumer Price Indexe,n (2010=100)",CPI: Consumer Price Indexf (2010=100),"CPI: Consumer Price Indexf,g (2010=100)",CPI: Consumer Price Indexg (2010=100),"CPI: Consumer Price Indexg,h (2010=100)",CPI: Consumer Price Indexh (2010=100),CPI: Consumer Price Indexi (2010=100),"CPI: Consumer Price Indexi,j (2010=100)",CPI: Consumer Price Indexj (2010=100),"CPI: Consumer Price Indexj,k (2010=100)",CPI: Consumer Price Indexk (2010=100),"CPI: Consumer Price Indexk,l (2010=100)",CPI: Consumer Price Indexl (2010=100),"CPI: Consumer Price Indexl,m (2010=100)",CPI: Consumer Price Indexm (2010=100),"CPI: Consumer Price Indexm,n (2010=100)",CPI: Consumer Price Indexn (2010=100),Economy: Agriculture (% of Gross Value Added),Economy: Agricultured (% of Gross Value Added),"Economy: Agricultured,e (% of Gross Value Added)",Economy: Agriculturee (% of Gross Value Added),"Economy: Agriculturee,f (% of Gross Value Added)","Economy: Agriculturee,f,g (% of Gross Value Added)","Economy: Agriculturee,g,h (% of Gross Value Added)",Economy: Agriculturef (% of Gross Value Added),"Economy: Agriculturef,g (% of Gross Value Added)","Economy: Agriculturef,g,h (% of Gross Value Added)",Economy: Agricultureg (% of Gross Value Added),"Economy: Agricultureg,h (% of Gross Value Added)","Economy: Agricultureg,h,i (% of Gross Value Added)","Economy: Agricultureh,i (% of Gross Value Added)","Economy: Agricultureh,i,j (% of Gross Value Added)",Economy: Industry (% of Gross Value Added),Economy: Industryd (% of Gross Value Added),"Economy: Industryd,f (% of Gross Value Added)",Economy: Industrye (% of Gross Value Added),"Economy: Industrye,f (% of Gross Value Added)","Economy: Industrye,g (% of Gross Value Added)","Economy: Industrye,g,i (% of Gross Value Added)","Economy: Industrye,h (% of Gross Value Added)",Economy: Industryf (% of Gross Value Added),"Economy: Industryf,g (% of Gross Value Added)","Economy: Industryf,g,h (% of Gross Value Added)","Economy: Industryf,g,i (% of Gross Value Added)","Economy: Industryf,h (% of Gross Value Added)",Economy: Industryg (% of Gross Value Added),"Economy: Industryg,h (% of Gross Value Added)","Economy: Industryg,h,i (% of Gross Value Added)","Economy: Industryg,i (% of Gross Value Added)","Economy: Industryg,i,j (% of Gross Value Added)","Economy: Industryg,j (% of Gross Value Added)",Economy: Industryh (% of Gross Value Added),"Economy: Industryh,i (% of Gross Value Added)","Economy: Industryh,i,j (% of Gross Value Added)","Economy: Industryh,i,k (% of Gross Value Added)","Economy: Industryh,j (% of Gross Value Added)","Economy: Industryi,j (% of Gross Value Added)",Economy: Services and other activity (% of GVA),Economy: Services and other activityd (% of GVA),"Economy: Services and other activityd,g (% of GVA)",Economy: Services and other activitye (% of GVA),"Economy: Services and other activitye,f (% of GVA)","Economy: Services and other activitye,f,g (% of GVA)","Economy: Services and other activitye,f,i (% of GVA)","Economy: Services and other activitye,g (% of GVA)","Economy: Services and other activitye,g,j (% of GVA)","Economy: Services and other activitye,h (% of GVA)",Economy: Services and other activityf (% of GVA),"Economy: Services and other activityf,g (% of GVA)","Economy: Services and other activityf,g,i (% of GVA)","Economy: Services and other activityf,g,j (% of GVA)","Economy: Services and other activityf,h (% of GVA)","Economy: Services and other activityf,i (% of GVA)",Economy: Services and other activityg (% of GVA),"Economy: Services and other activityg,h (% of GVA)","Economy: Services and other activityg,i (% of GVA)","Economy: Services and other activityg,j (% of GVA)","Economy: Services and other activityg,k (% of GVA)",Economy: Services and other activityh (% of GVA),"Economy: Services and other activityh,i,l (% of GVA)","Economy: Services and other activityh,j (% of GVA)","Economy: Services and other activityh,k (% of GVA)",Economy: Services and other activityi (% of GVA),"Economy: Services and other activityi,j (% of GVA)","Economy: Services and other activityi,k (% of GVA)",Economy: Services and other activityj (% of GVA),Economy: Services and other activityk (% of GVA),Employment in agriculture (% of employed),"Employment in agriculturea,k (% of employed)",Employment in agricultured (% of employed),Employment in agriculturee (% of employed),Employment in agriculturef (% of employed),Employment in agricultureg (% of employed),Employment in agricultureh (% of employed),Employment in agriculturei (% of employed),Employment in agriculturej (% of employed),Employment in agriculturek (% of employed),Employment in agriculturel (% of employed),Employment in agriculturem (% of employed),Employment in industry (% of employed),"Employment in industrya,k (% of employed)",Employment in industryd (% of employed),Employment in industrye (% of employed),Employment in industryf (% of employed),Employment in industryg (% of employed),Employment in industryh (% of employed),Employment in industryi (% of employed),Employment in industryj (% of employed),Employment in industryk (% of employed),Employment in industryl (% of employed),Employment in industrym (% of employed),Employment in services (% employed),"Employment in servicesa,k (% employed)",Employment in servicesd (% employed),Employment in servicese (% employed),Employment in servicesf (% employed),Employment in servicesg (% employed),Employment in servicesh (% employed),Employment in servicesi (% employed),Employment in servicesj (% employed),Employment in servicesk (% employed),Employment in servicesl (% employed),Employment in servicesm (% employed),"GDP growth rate (annual %, const. 2015 prices)","GDP growth ratea (annual %, const. 2015 prices)","GDP growth ratee (annual %, const. 2015 prices)","GDP growth ratef (annual %, const. 2015 prices)",GDP per capita (current US$),GDP per capitaa (current US$),GDP per capitad (current US$),GDP per capitae (current US$),GDP per capitaf (current US$),GDP: Gross domestic product (million current US$),GDP: Gross domestic producta (million current US$),GDP: Gross domestic productd (million current US$),GDP: Gross domestic producte (million current US$),GDP: Gross domestic productf (million current US$),International trade: balance (million current US$),International trade: balancea (million current US$),International trade: balanced (million current US$),International trade: balancee (million current US$),International trade: balancef (million current US$),International trade: balanceg (million current US$),International trade: balanceh (million current US$),International trade: balancei (million current US$),International trade: balancej (million current US$),International trade: balancek (million current US$),International trade: balancel (million current US$),International trade: balancen (million current US$),International trade: balanceo (million current US$),International trade: exports (million current US$),International trade: exportsa (million current US$),International trade: exportsd (million current US$),International trade: exportse (million current US$),International trade: exportsf (million current US$),International trade: exportsg (million current US$),International trade: exportsh (million current US$),International trade: exportsi (million current US$),International trade: exportsj (million current US$),International trade: exportsk (million current US$),International trade: exportsl (million current US$),International trade: exportsn (million current US$),International trade: exportso (million current US$),International trade: imports (million current US$),International trade: importsa (million current US$),International trade: importsd (million current US$),International trade: importse (million current US$),International trade: importsf (million current US$),International trade: importsg (million current US$),International trade: importsh (million current US$),International trade: importsi (million current US$),International trade: importsj (million current US$),International trade: importsk (million current US$),International trade: importsl (million current US$),International trade: importsn (million current US$),International trade: importso (million current US$),Labour force participation rate (female/male pop. %),"Labour force participation ratea,k (female/male pop. %)",Labour force participation rated (female/male pop. %),Labour force participation ratee (female/male pop. %),Labour force participation ratef (female/male pop. %),Labour force participation rateg (female/male pop. %),Labour force participation rateh (female/male pop. %),Labour force participation ratei (female/male pop. %),Labour force participation ratej (female/male pop. %),Labour force participation ratek (female/male pop. %),Labour force participation ratem (female/male pop. %),Unemployment (% of labour force),"Unemploymenta,k (% of labour force)",Unemploymentd (% of labour force),Unemploymente (% of labour force),Unemploymentf (% of labour force),Unemploymentg (% of labour force),Unemploymenth (% of labour force),Unemploymenti (% of labour force),Unemploymentj (% of labour force),Unemploymentk (% of labour force)
0,Afghanistan,2015.0,96,NaN,- 4 193,NaN,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.7,NaN,NaN,NaN,NaN,-2.5,NaN,NaN,NaN,554,NaN,NaN,NaN,NaN,18 700,NaN,NaN,NaN,NaN,- 7 151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7 723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.1 / 75.3i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2020.0,112,NaN,- 3 137,NaN,150c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.4f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.6g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55h,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.5,NaN,NaN,NaN,NaN,-2.1,NaN,NaN,NaN,512.7,NaN,NaN,NaN,NaN,19 983,NaN,NaN,NaN,NaN,- 7 484i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8 266i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5 / 66.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2024.0,111b,NaN,...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"35.5f,b",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"16.9g,b",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"47.5h,b",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.6b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.3b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.1b,NaN,NaN,NaN,NaN,-6.2b,NaN,NaN,NaN,344.6b,NaN,NaN,NaN,NaN,14 175b,NaN,NaN,NaN,NaN,"- 4 337i,j",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"456i,j",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4 793i,j",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0 / 69.3i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,2015.0,100,NaN,-980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN,NaN,NaN,NaN,2.2,NaN,NaN,NaN,3 950.4,NaN,NaN,NaN,NaN,11 387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,- 2 391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4 320,NaN,NaN,NaN,47.0 / 64.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,2020.0,106,NaN,- 1 315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.2,NaN,NaN,NaN,NaN,-3.5,NaN,NaN,NaN,5 289.0,NaN,NaN,NaN,NaN,15 163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,- 2 995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 411,NaN,NaN,NaN,50.1 / 64.7i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
def smart_combine_typo_columns(df,root_forms):
    """
    Merge typo columns into their root forms using similarity matching
    """
    df_fixed = df.copy()
    
    # For each root form, find and merge similar columns
    for root_col in root_forms:
        if root_col in df_fixed.columns:
            similar_columns = []
            
            # Check all columns for similarity to this root form
            for col in df_fixed.columns:
                if col != root_col and col not in root_forms:  # Don't compare with itself or other root forms
                    similarity = difflib.SequenceMatcher(None, root_col.lower(), col.lower()).ratio()
                    
                    if similarity > 0.8:  # High similarity threshold
                        similar_columns.append((col, similarity))
            
            # Merge similar columns into the root column
            if similar_columns:
                print(f"\nMerging into '{root_col}':")
                print(f"  Found {len(similar_columns)} similar columns")
                
                for similar_col, sim_score in similar_columns:
                    print(f"  Merging: '{similar_col}' -> '{root_col}' (similarity: {sim_score:.3f})")
                    # Fill missing values in root column with values from similar column
                    df_fixed[root_col] = df_fixed[root_col].fillna(df_fixed[similar_col])
                    # Drop the similar column
                    df_fixed = df_fixed.drop(columns=[similar_col])
    
    return df_fixed

In [119]:
print(list(df_economic_indicators_flat.columns))

['Country', 'Year', 'Agricultural production index (2014-2016=100)', 'Agricultural production indexa (2014-2016=100)', 'Balance of payments, current account (million US$)', 'Balance of payments, current accounta (million US$)', 'CPI: Consumer Price Index (2010=100)', 'CPI: Consumer Price Indexe (2010=100)', 'CPI: Consumer Price Indexe,n (2010=100)', 'CPI: Consumer Price Indexf (2010=100)', 'CPI: Consumer Price Indexf,g (2010=100)', 'CPI: Consumer Price Indexg (2010=100)', 'CPI: Consumer Price Indexg,h (2010=100)', 'CPI: Consumer Price Indexh (2010=100)', 'CPI: Consumer Price Indexi (2010=100)', 'CPI: Consumer Price Indexi,j (2010=100)', 'CPI: Consumer Price Indexj (2010=100)', 'CPI: Consumer Price Indexj,k (2010=100)', 'CPI: Consumer Price Indexk (2010=100)', 'CPI: Consumer Price Indexk,l (2010=100)', 'CPI: Consumer Price Indexl (2010=100)', 'CPI: Consumer Price Indexl,m (2010=100)', 'CPI: Consumer Price Indexm (2010=100)', 'CPI: Consumer Price Indexm,n (2010=100)', 'CPI: Consumer Price Indexn (2010=100)', 'Economy: Agriculture (% of Gross Value Added)', 'Economy: Agricultured (% of Gross Value Added)', 'Economy: Agricultured,e (% of Gross Value Added)', 'Economy: Agriculturee (% of Gross Value Added)', 'Economy: Agriculturee,f (% of Gross Value Added)', 'Economy: Agriculturee,f,g (% of Gross Value Added)', 'Economy: Agriculturee,g,h (% of Gross Value Added)', 'Economy: Agriculturef (% of Gross Value Added)', 'Economy: Agriculturef,g (% of Gross Value Added)', 'Economy: Agriculturef,g,h (% of Gross Value Added)', 'Economy: Agricultureg (% of Gross Value Added)', 'Economy: Agricultureg,h (% of Gross Value Added)', 'Economy: Agricultureg,h,i (% of Gross Value Added)', 'Economy: Agricultureh,i (% of Gross Value Added)', 'Economy: Agricultureh,i,j (% of Gross Value Added)', 'Economy: Industry (% of Gross Value Added)', 'Economy: Industryd (% of Gross Value Added)', 'Economy: Industryd,f (% of Gross Value Added)', 'Economy: Industrye (% of Gross Value Added)', 'Economy: Industrye,f (% of Gross Value Added)', 'Economy: Industrye,g (% of Gross Value Added)', 'Economy: Industrye,g,i (% of Gross Value Added)', 'Economy: Industrye,h (% of Gross Value Added)', 'Economy: Industryf (% of Gross Value Added)', 'Economy: Industryf,g (% of Gross Value Added)', 'Economy: Industryf,g,h (% of Gross Value Added)', 'Economy: Industryf,g,i (% of Gross Value Added)', 'Economy: Industryf,h (% of Gross Value Added)', 'Economy: Industryg (% of Gross Value Added)', 'Economy: Industryg,h (% of Gross Value Added)', 'Economy: Industryg,h,i (% of Gross Value Added)', 'Economy: Industryg,i (% of Gross Value Added)', 'Economy: Industryg,i,j (% of Gross Value Added)', 'Economy: Industryg,j (% of Gross Value Added)', 'Economy: Industryh (% of Gross Value Added)', 'Economy: Industryh,i (% of Gross Value Added)', 'Economy: Industryh,i,j (% of Gross Value Added)', 'Economy: Industryh,i,k (% of Gross Value Added)', 'Economy: Industryh,j (% of Gross Value Added)', 'Economy: Industryi,j (% of Gross Value Added)', 'Economy: Services and other activity (% of GVA)', 'Economy: Services and other activityd (% of GVA)', 'Economy: Services and other activityd,g (% of GVA)', 'Economy: Services and other activitye (% of GVA)', 'Economy: Services and other activitye,f (% of GVA)', 'Economy: Services and other activitye,f,g (% of GVA)', 'Economy: Services and other activitye,f,i (% of GVA)', 'Economy: Services and other activitye,g (% of GVA)', 'Economy: Services and other activitye,g,j (% of GVA)', 'Economy: Services and other activitye,h (% of GVA)', 'Economy: Services and other activityf (% of GVA)', 'Economy: Services and other activityf,g (% of GVA)', 'Economy: Services and other activityf,g,i (% of GVA)', 'Economy: Services and other activityf,g,j (% of GVA)', 'Economy: Services and other activityf,h (% of GVA)', 'Economy: Services and other activityf,i (% of GVA)', 'Economy: Services and other activityg (% of GVA)', 'Economy: Services and other activityg,h (% of GVA)', 'Economy: Services and other activityg,i (% of GVA)', 'Economy: Services and other activityg,j (% of GVA)', 'Economy: Services and other activityg,k (% of GVA)', 'Economy: Services and other activityh (% of GVA)', 'Economy: Services and other activityh,i,l (% of GVA)', 'Economy: Services and other activityh,j (% of GVA)', 'Economy: Services and other activityh,k (% of GVA)', 'Economy: Services and other activityi (% of GVA)', 'Economy: Services and other activityi,j (% of GVA)', 'Economy: Services and other activityi,k (% of GVA)', 'Economy: Services and other activityj (% of GVA)', 'Economy: Services and other activityk (% of GVA)', 'Employment in agriculture (% of employed)', 'Employment in agriculturea,k (% of employed)', 'Employment in agricultured (% of employed)', 'Employment in agriculturee (% of employed)', 'Employment in agriculturef (% of employed)', 'Employment in agricultureg (% of employed)', 'Employment in agricultureh (% of employed)', 'Employment in agriculturei (% of employed)', 'Employment in agriculturej (% of employed)', 'Employment in agriculturek (% of employed)', 'Employment in agriculturel (% of employed)', 'Employment in agriculturem (% of employed)', 'Employment in industry (% of employed)', 'Employment in industrya,k (% of employed)', 'Employment in industryd (% of employed)', 'Employment in industrye (% of employed)', 'Employment in industryf (% of employed)', 'Employment in industryg (% of employed)', 'Employment in industryh (% of employed)', 'Employment in industryi (% of employed)', 'Employment in industryj (% of employed)', 'Employment in industryk (% of employed)', 'Employment in industryl (% of employed)', 'Employment in industrym (% of employed)', 'Employment in services (% employed)', 'Employment in servicesa,k (% employed)', 'Employment in servicesd (% employed)', 'Employment in servicese (% employed)', 'Employment in servicesf (% employed)', 'Employment in servicesg (% employed)', 'Employment in servicesh (% employed)', 'Employment in servicesi (% employed)', 'Employment in servicesj (% employed)', 'Employment in servicesk (% employed)', 'Employment in servicesl (% employed)', 'Employment in servicesm (% employed)', 'GDP growth rate (annual %, const. 2015 prices)', 'GDP growth ratea (annual %, const. 2015 prices)', 'GDP growth ratee (annual %, const. 2015 prices)', 'GDP growth ratef (annual %, const. 2015 prices)', 'GDP per capita (current US$)', 'GDP per capitaa (current US$)', 'GDP per capitad (current US$)', 'GDP per capitae (current US$)', 'GDP per capitaf (current US$)', 'GDP: Gross domestic product (million current US$)', 'GDP: Gross domestic producta (million current US$)', 'GDP: Gross domestic productd (million current US$)', 'GDP: Gross domestic producte (million current US$)', 'GDP: Gross domestic productf (million current US$)', 'International trade: balance (million current US$)', 'International trade: balancea (million current US$)', 'International trade: balanced (million current US$)', 'International trade: balancee (million current US$)', 'International trade: balancef (million current US$)', 'International trade: balanceg (million current US$)', 'International trade: balanceh (million current US$)', 'International trade: balancei (million current US$)', 'International trade: balancej (million current US$)', 'International trade: balancek (million current US$)', 'International trade: balancel (million current US$)', 'International trade: balancen (million current US$)', 'International trade: balanceo (million current US$)', 'International trade: exports (million current US$)', 'International trade: exportsa (million current US$)', 'International trade: exportsd (million current US$)', 'International trade: exportse (million current US$)', 'International trade: exportsf (million current US$)', 'International trade: exportsg (million current US$)', 'International trade: exportsh (million current US$)', 'International trade: exportsi (million current US$)', 'International trade: exportsj (million current US$)', 'International trade: exportsk (million current US$)', 'International trade: exportsl (million current US$)', 'International trade: exportsn (million current US$)', 'International trade: exportso (million current US$)', 'International trade: imports (million current US$)', 'International trade: importsa (million current US$)', 'International trade: importsd (million current US$)', 'International trade: importse (million current US$)', 'International trade: importsf (million current US$)', 'International trade: importsg (million current US$)', 'International trade: importsh (million current US$)', 'International trade: importsi (million current US$)', 'International trade: importsj (million current US$)', 'International trade: importsk (million current US$)', 'International trade: importsl (million current US$)', 'International trade: importsn (million current US$)', 'International trade: importso (million current US$)', 'Labour force participation rate (female/male pop. %)', 'Labour force participation ratea,k (female/male pop. %)', 'Labour force participation rated (female/male pop. %)', 'Labour force participation ratee (female/male pop. %)', 'Labour force participation ratef (female/male pop. %)', 'Labour force participation rateg (female/male pop. %)', 'Labour force participation rateh (female/male pop. %)', 'Labour force participation ratei (female/male pop. %)', 'Labour force participation ratej (female/male pop. %)', 'Labour force participation ratek (female/male pop. %)', 'Labour force participation ratem (female/male pop. %)', 'Unemployment (% of labour force)', 'Unemploymenta,k (% of labour force)', 'Unemploymentd (% of labour force)', 'Unemploymente (% of labour force)', 'Unemploymentf (% of labour force)', 'Unemploymentg (% of labour force)', 'Unemploymenth (% of labour force)', 'Unemploymenti (% of labour force)', 'Unemploymentj (% of labour force)', 'Unemploymentk (% of labour force)']

In [ ]:
['Country', 'Year', 'Agricultural production index (2014-2016=100)', 'Agricultural production indexa (2014-2016=100)', 'Balance of payments, current account (million US$)', 'Balance of payments, current accounta (million US$)', 'CPI: Consumer Price Index (2010=100)', 'CPI: Consumer Price Indexe (2010=100)', 'CPI: Consumer Price Indexe,n (2010=100)', 'CPI: Consumer Price Indexf (2010=100)', 'CPI: Consumer Price Indexf,g (2010=100)', 'CPI: Consumer Price Indexg (2010=100)', 'CPI: Consumer Price Indexg,h (2010=100)', 'CPI: Consumer Price Indexh (2010=100)', 'CPI: Consumer Price Indexi (2010=100)', 'CPI: Consumer Price Indexi,j (2010=100)', 'CPI: Consumer Price Indexj (2010=100)', 'CPI: Consumer Price Indexj,k (2010=100)', 'CPI: Consumer Price Indexk (2010=100)', 'CPI: Consumer Price Indexk,l (2010=100)', 'CPI: Consumer Price Indexl (2010=100)', 'CPI: Consumer Price Indexl,m (2010=100)', 'CPI: Consumer Price Indexm (2010=100)', 'CPI: Consumer Price Indexm,n (2010=100)', 'CPI: Consumer Price Indexn (2010=100)', 'Economy: Agriculture (% of Gross Value Added)', 'Economy: Agricultured (% of Gross Value Added)', 'Economy: Agricultured,e (% of Gross Value Added)', 'Economy: Agriculturee (% of Gross Value Added)', 'Economy: Agriculturee,f (% of Gross Value Added)', 'Economy: Agriculturee,f,g (% of Gross Value Added)', 'Economy: Agriculturee,g,h (% of Gross Value Added)', 'Economy: Agriculturef (% of Gross Value Added)', 'Economy: Agriculturef,g (% of Gross Value Added)', 'Economy: Agriculturef,g,h (% of Gross Value Added)', 'Economy: Agricultureg (% of Gross Value Added)', 'Economy: Agricultureg,h (% of Gross Value Added)', 'Economy: Agricultureg,h,i (% of Gross Value Added)', 'Economy: Agricultureh,i (% of Gross Value Added)', 'Economy: Agricultureh,i,j (% of Gross Value Added)', 'Economy: Industry (% of Gross Value Added)', 'Economy: Industryd (% of Gross Value Added)', 'Economy: Industryd,f (% of Gross Value Added)', 'Economy: Industrye (% of Gross Value Added)', 'Economy: Industrye,f (% of Gross Value Added)', 'Economy: Industrye,g (% of Gross Value Added)', 'Economy: Industrye,g,i (% of Gross Value Added)', 'Economy: Industrye,h (% of Gross Value Added)', 'Economy: Industryf (% of Gross Value Added)', 'Economy: Industryf,g (% of Gross Value Added)', 'Economy: Industryf,g,h (% of Gross Value Added)', 'Economy: Industryf,g,i (% of Gross Value Added)', 'Economy: Industryf,h (% of Gross Value Added)', 'Economy: Industryg (% of Gross Value Added)', 'Economy: Industryg,h (% of Gross Value Added)', 'Economy: Industryg,h,i (% of Gross Value Added)', 'Economy: Industryg,i (% of Gross Value Added)', 'Economy: Industryg,i,j (% of Gross Value Added)', 'Economy: Industryg,j (% of Gross Value Added)', 'Economy: Industryh (% of Gross Value Added)', 'Economy: Industryh,i (% of Gross Value Added)', 'Economy: Industryh,i,j (% of Gross Value Added)', 'Economy: Industryh,i,k (% of Gross Value Added)', 'Economy: Industryh,j (% of Gross Value Added)', 'Economy: Industryi,j (% of Gross Value Added)', 'Economy: Services and other activity (% of GVA)', 'Economy: Services and other activityd (% of GVA)', 'Economy: Services and other activityd,g (% of GVA)', 'Economy: Services and other activitye (% of GVA)', 'Economy: Services and other activitye,f (% of GVA)', 'Economy: Services and other activitye,f,g (% of GVA)', 'Economy: Services and other activitye,f,i (% of GVA)', 'Economy: Services and other activitye,g (% of GVA)', 'Economy: Services and other activitye,g,j (% of GVA)', 'Economy: Services and other activitye,h (% of GVA)', 'Economy: Services and other activityf (% of GVA)', 'Economy: Services and other activityf,g (% of GVA)', 'Economy: Services and other activityf,g,i (% of GVA)', 'Economy: Services and other activityf,g,j (% of GVA)', 'Economy: Services and other activityf,h (% of GVA)', 'Economy: Services and other activityf,i (% of GVA)', 'Economy: Services and other activityg (% of GVA)', 'Economy: Services and other activityg,h (% of GVA)', 'Economy: Services and other activityg,i (% of GVA)', 'Economy: Services and other activityg,j (% of GVA)', 'Economy: Services and other activityg,k (% of GVA)', 'Economy: Services and other activityh (% of GVA)', 'Economy: Services and other activityh,i,l (% of GVA)', 'Economy: Services and other activityh,j (% of GVA)', 'Economy: Services and other activityh,k (% of GVA)', 'Economy: Services and other activityi (% of GVA)', 'Economy: Services and other activityi,j (% of GVA)', 'Economy: Services and other activityi,k (% of GVA)', 'Economy: Services and other activityj (% of GVA)', 'Economy: Services and other activityk (% of GVA)', 'Employment in agriculture (% of employed)', 'Employment in agriculturea,k (% of employed)', 'Employment in agricultured (% of employed)', 'Employment in agriculturee (% of employed)', 'Employment in agriculturef (% of employed)', 'Employment in agricultureg (% of employed)', 'Employment in agricultureh (% of employed)', 'Employment in agriculturei (% of employed)', 'Employment in agriculturej (% of employed)', 'Employment in agriculturek (% of employed)', 'Employment in agriculturel (% of employed)', 'Employment in agriculturem (% of employed)', 'Employment in industry (% of employed)', 'Employment in industrya,k (% of employed)', 'Employment in industryd (% of employed)', 'Employment in industrye (% of employed)', 'Employment in industryf (% of employed)', 'Employment in industryg (% of employed)', 'Employment in industryh (% of employed)', 'Employment in industryi (% of employed)', 'Employment in industryj (% of employed)', 'Employment in industryk (% of employed)', 'Employment in industryl (% of employed)', 'Employment in industrym (% of employed)', 'Employment in services (% employed)', 'Employment in servicesa,k (% employed)', 'Employment in servicesd (% employed)', 'Employment in servicese (% employed)', 'Employment in servicesf (% employed)', 'Employment in servicesg (% employed)', 'Employment in servicesh (% employed)', 'Employment in servicesi (% employed)', 'Employment in servicesj (% employed)', 'Employment in servicesk (% employed)', 'Employment in servicesl (% employed)', 'Employment in servicesm (% employed)', 'GDP growth rate (annual %, const. 2015 prices)', 'GDP growth ratea (annual %, const. 2015 prices)', 'GDP growth ratee (annual %, const. 2015 prices)', 'GDP growth ratef (annual %, const. 2015 prices)', 'GDP per capita (current US$)', 'GDP per capitaa (current US$)', 'GDP per capitad (current US$)', 'GDP per capitae (current US$)', 'GDP per capitaf (current US$)', 'GDP: Gross domestic product (million current US$)', 'GDP: Gross domestic producta (million current US$)', 'GDP: Gross domestic productd (million current US$)', 'GDP: Gross domestic producte (million current US$)', 'GDP: Gross domestic productf (million current US$)', 'International trade: balance (million current US$)', 'International trade: balancea (million current US$)', 'International trade: balanced (million current US$)', 'International trade: balancee (million current US$)', 'International trade: balancef (million current US$)', 'International trade: balanceg (million current US$)', 'International trade: balanceh (million current US$)', 'International trade: balancei (million current US$)', 'International trade: balancej (million current US$)', 'International trade: balancek (million current US$)', 'International trade: balancel (million current US$)', 'International trade: balancen (million current US$)', 'International trade: balanceo (million current US$)', 'International trade: exports (million current US$)', 'International trade: exportsa (million current US$)', 'International trade: exportsd (million current US$)', 'International trade: exportse (million current US$)', 'International trade: exportsf (million current US$)', 'International trade: exportsg (million current US$)', 'International trade: exportsh (million current US$)', 'International trade: exportsi (million current US$)', 'International trade: exportsj (million current US$)', 'International trade: exportsk (million current US$)', 'International trade: exportsl (million current US$)', 'International trade: exportsn (million current US$)', 'International trade: exportso (million current US$)', 'International trade: imports (million current US$)', 'International trade: importsa (million current US$)', 'International trade: importsd (million current US$)', 'International trade: importse (million current US$)', 'International trade: importsf (million current US$)', 'International trade: importsg (million current US$)', 'International trade: importsh (million current US$)', 'International trade: importsi (million current US$)', 'International trade: importsj (million current US$)', 'International trade: importsk (million current US$)', 'International trade: importsl (million current US$)', 'International trade: importsn (million current US$)', 'International trade: importso (million current US$)', 'Labour force participation rate (female/male pop. %)', 'Labour force participation ratea,k (female/male pop. %)', 'Labour force participation rated (female/male pop. %)', 'Labour force participation ratee (female/male pop. %)', 'Labour force participation ratef (female/male pop. %)', 'Labour force participation rateg (female/male pop. %)', 'Labour force participation rateh (female/male pop. %)', 'Labour force participation ratei (female/male pop. %)', 'Labour force participation ratej (female/male pop. %)', 'Labour force participation ratek (female/male pop. %)', 'Labour force participation ratem (female/male pop. %)', 'Unemployment (% of labour force)', 'Unemploymenta,k (% of labour force)', 'Unemploymentd (% of labour force)', 'Unemploymente (% of labour force)', 'Unemploymentf (% of labour force)', 'Unemploymentg (% of labour force)', 'Unemploymenth (% of labour force)', 'Unemploymenti (% of labour force)', 'Unemploymentj (% of labour force)', 'Unemploymentk (% of labour force)']

In [120]:
root_forms = [
    'Country',
    'Year',
    'Agricultural production index (2014-2016=100)',
    'Balance of payments, current account (million US$)',
    'CPI: Consumer Price Index (2010=100)',
    'Economy: Agriculture (% of Gross Value Added)',
    'Economy: Industry (% of Gross Value Added)',
    'Economy: Services and other activity (% of GVA)',
    'Employment in agriculture (% of employed)',
    'Employment in industry (% of employed)',
    'Employment in services (% employed)',
    'GDP growth rate (annual %, const. 2015 prices)',
    'GDP per capita (current US$)',
    'GDP: Gross domestic product (million current US$)',
    'International trade: balance (million current US$)',
    'International trade: exports (million current US$)',
    'International trade: imports (million current US$)',
    'Labour force participation rate (female/male pop. %)',
    'Unemployment (% of labour force)'
]

df_economic_indicators_flat = smart_combine_typo_columns(df_economic_indicators_flat, root_forms)
print(f"\nFinal shape: {df_economic_indicators_flat.shape}")
print(f"Final columns: {list(df_economic_indicators_flat.columns)}")
df_economic_indicators_flat.head()

Merging into 'Agricultural production index (2014-2016=100)':
  Found 1 similar columns
  Merging: 'Agricultural production indexa (2014-2016=100)' -> 'Agricultural production index (2014-2016=100)' (similarity: 0.989)

Merging into 'Balance of payments, current account (million US$)':
  Found 1 similar columns
  Merging: 'Balance of payments, current accounta (million US$)' -> 'Balance of payments, current account (million US$)' (similarity: 0.990)

Merging into 'CPI: Consumer Price Index (2010=100)':
  Found 18 similar columns
  Merging: 'CPI: Consumer Price Indexe (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexe,n (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexf (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexf,g (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexg (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexg,h (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexh (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexi (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexi,j (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexj (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexj,k (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexk (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexk,l (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexl (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexl,m (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexm (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)
  Merging: 'CPI: Consumer Price Indexm,n (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.960)
  Merging: 'CPI: Consumer Price Indexn (2010=100)' -> 'CPI: Consumer Price Index (2010=100)' (similarity: 0.986)

Merging into 'Economy: Agriculture (% of Gross Value Added)':
  Found 15 similar columns
  Merging: 'Economy: Agricultured (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.989)
  Merging: 'Economy: Agricultured,e (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.968)
  Merging: 'Economy: Agriculturee (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.989)
  Merging: 'Economy: Agriculturee,f (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.968)
  Merging: 'Economy: Agriculturee,f,g (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.947)
  Merging: 'Economy: Agriculturee,g,h (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.947)
  Merging: 'Economy: Agriculturef (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.989)
  Merging: 'Economy: Agriculturef,g (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.968)
  Merging: 'Economy: Agriculturef,g,h (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.947)
  Merging: 'Economy: Agricultureg (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.989)
  Merging: 'Economy: Agricultureg,h (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.968)
  Merging: 'Economy: Agricultureg,h,i (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.947)
  Merging: 'Economy: Agricultureh,i (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.968)
  Merging: 'Economy: Agricultureh,i,j (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.947)
  Merging: 'Economy: Industrye (% of Gross Value Added)' -> 'Economy: Agriculture (% of Gross Value Added)' (similarity: 0.818)

Merging into 'Economy: Industry (% of Gross Value Added)':
  Found 23 similar columns
  Merging: 'Economy: Industryd (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.988)
  Merging: 'Economy: Industryd,f (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industrye,f (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industrye,g (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industrye,g,i (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industrye,h (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryf (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.988)
  Merging: 'Economy: Industryf,g (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryf,g,h (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industryf,g,i (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industryf,h (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryg (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.988)
  Merging: 'Economy: Industryg,h (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryg,h,i (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industryg,i (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryg,i,j (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industryg,j (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryh (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.988)
  Merging: 'Economy: Industryh,i (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryh,i,j (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industryh,i,k (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.944)
  Merging: 'Economy: Industryh,j (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)
  Merging: 'Economy: Industryi,j (% of Gross Value Added)' -> 'Economy: Industry (% of Gross Value Added)' (similarity: 0.966)

Merging into 'Economy: Services and other activity (% of GVA)':
  Found 29 similar columns
  Merging: 'Economy: Services and other activityd (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activityd,g (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activitye (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activitye,f (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activitye,f,g (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.949)
  Merging: 'Economy: Services and other activitye,f,i (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.949)
  Merging: 'Economy: Services and other activitye,g (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activitye,g,j (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.949)
  Merging: 'Economy: Services and other activitye,h (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityf (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activityf,g (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityf,g,i (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.949)
  Merging: 'Economy: Services and other activityf,g,j (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.949)
  Merging: 'Economy: Services and other activityf,h (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityf,i (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityg (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activityg,h (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityg,i (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityg,j (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityg,k (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityh (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activityh,i,l (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.949)
  Merging: 'Economy: Services and other activityh,j (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityh,k (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityi (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activityi,j (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityi,k (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.969)
  Merging: 'Economy: Services and other activityj (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)
  Merging: 'Economy: Services and other activityk (% of GVA)' -> 'Economy: Services and other activity (% of GVA)' (similarity: 0.989)

Merging into 'Employment in agriculture (% of employed)':
  Found 21 similar columns
  Merging: 'Employment in agriculturea,k (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.965)
  Merging: 'Employment in agricultured (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturee (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturef (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agricultureg (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agricultureh (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturei (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturej (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturek (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturel (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in agriculturem (% of employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.988)
  Merging: 'Employment in servicesd (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicese (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesf (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesg (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesh (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesi (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesj (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesk (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesl (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)
  Merging: 'Employment in servicesm (% employed)' -> 'Employment in agriculture (% of employed)' (similarity: 0.805)

Merging into 'Employment in industry (% of employed)':
  Found 11 similar columns
  Merging: 'Employment in industrya,k (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.962)
  Merging: 'Employment in industryd (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industrye (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryf (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryg (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryh (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryi (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryj (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryk (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industryl (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)
  Merging: 'Employment in industrym (% of employed)' -> 'Employment in industry (% of employed)' (similarity: 0.987)

Merging into 'Employment in services (% employed)':
  Found 1 similar columns
  Merging: 'Employment in servicesa,k (% employed)' -> 'Employment in services (% employed)' (similarity: 0.959)

Merging into 'GDP growth rate (annual %, const. 2015 prices)':
  Found 3 similar columns
  Merging: 'GDP growth ratea (annual %, const. 2015 prices)' -> 'GDP growth rate (annual %, const. 2015 prices)' (similarity: 0.989)
  Merging: 'GDP growth ratee (annual %, const. 2015 prices)' -> 'GDP growth rate (annual %, const. 2015 prices)' (similarity: 0.989)
  Merging: 'GDP growth ratef (annual %, const. 2015 prices)' -> 'GDP growth rate (annual %, const. 2015 prices)' (similarity: 0.989)

Merging into 'GDP per capita (current US$)':
  Found 4 similar columns
  Merging: 'GDP per capitaa (current US$)' -> 'GDP per capita (current US$)' (similarity: 0.982)
  Merging: 'GDP per capitad (current US$)' -> 'GDP per capita (current US$)' (similarity: 0.982)
  Merging: 'GDP per capitae (current US$)' -> 'GDP per capita (current US$)' (similarity: 0.982)
  Merging: 'GDP per capitaf (current US$)' -> 'GDP per capita (current US$)' (similarity: 0.982)

Merging into 'GDP: Gross domestic product (million current US$)':
  Found 4 similar columns
  Merging: 'GDP: Gross domestic producta (million current US$)' -> 'GDP: Gross domestic product (million current US$)' (similarity: 0.990)
  Merging: 'GDP: Gross domestic productd (million current US$)' -> 'GDP: Gross domestic product (million current US$)' (similarity: 0.990)
  Merging: 'GDP: Gross domestic producte (million current US$)' -> 'GDP: Gross domestic product (million current US$)' (similarity: 0.990)
  Merging: 'GDP: Gross domestic productf (million current US$)' -> 'GDP: Gross domestic product (million current US$)' (similarity: 0.990)

Merging into 'International trade: balance (million current US$)':
  Found 36 similar columns
  Merging: 'International trade: balancea (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balanced (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancee (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancef (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balanceg (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balanceh (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancei (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancej (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancek (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancel (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balancen (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: balanceo (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.990)
  Merging: 'International trade: exportsa (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.871)
  Merging: 'International trade: exportsd (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.871)
  Merging: 'International trade: exportse (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.871)
  Merging: 'International trade: exportsf (million current US$)' -> 'International trade: balance (million current US$)' (similarity: 0.871)

,Country,Year,Agricultural production index (2014-2016=100),"Balance of payments, current account (million US$)",CPI: Consumer Price Index (2010=100),Economy: Agriculture (% of Gross Value Added),Economy: Industry (% of Gross Value Added),Economy: Services and other activity (% of GVA),Employment in agriculture (% of employed),Employment in industry (% of employed),Employment in services (% employed),"GDP growth rate (annual %, const. 2015 prices)",GDP per capita (current US$),GDP: Gross domestic product (million current US$),International trade: balance (million current US$),International trade: exports (million current US$),International trade: imports (million current US$),Labour force participation rate (female/male pop. %),Unemployment (% of labour force)
0,Afghanistan,2015.0,96,- 4 193,133,22,NaN,68.3,44.6,20.7,NaN,-2.5,554,18 700,- 7 151,571,7 723,19.1 / 75.3i,9i
1,Afghanistan,2020.0,112,- 3 137,150c,31.4f,NaN,55h,46,18.5,NaN,-2.1,512.7,19 983,- 7 484i,783i,8 266i,16.5 / 66.7,11.7
2,Afghanistan,2024.0,111b,...,...,"35.5f,b",NaN,"47.5h,b",46.6b,18.3b,NaN,-6.2b,344.6b,14 175b,"- 4 337i,j","456i,j","4 793i,j",5.0 / 69.3i,16.3i
3,Albania,2015.0,100,-980,111,22.5,24.8,52.7,41.3,18.7,NaN,2.2,3 950.4,11 387,- 2 391,NaN,NaN,47.0 / 64.1,17.2
4,Albania,2020.0,106,- 1 315,121,21.9,22.9,55.1,36.2,20.6,NaN,-3.5,5 289.0,15 163,- 2 995,NaN,NaN,50.1 / 64.7i,12.8i

In [101]:
df_economic_indicators_flat.isnull().sum()

Country                                                   0
Year                                                      0
Agricultural production index (2014-2016=100)            93
Balance of payments, current account (million US$)      102
CPI: Consumer Price Index (2010=100)                     72
Economy: Agriculture (% of Gross Value Added)            66
Economy: Industry (% of Gross Value Added)               75
Economy: Services and other activity (% of GVA)          57
Employment in agriculture (% of employed)                81
Employment in industry (% of employed)                   78
Employment in services (% employed)                     639
GDP growth rate (annual %, const. 2015 prices)           57
GDP per capita (current US$)                             57
GDP: Gross domestic product (million current US$)        57
International trade: balance (million current US$)       54
International trade: exports (million current US$)      195
International trade: imports (million current US$)      195
Labour force participation rate (female/male pop. %)     75
Unemployment (% of labour force)                         57
dtype: int64

In [ ]:
numerical_cols = [
    'Agricultural production index (2014-2016=100)',
    'Balance of payments, current account (million US$)',
    'CPI: Consumer Price Index (2010=100)',
    'Economy: Agriculture (% of Gross Value Added)',
    'Economy: Industry (% of Gross Value Added)',
    'Economy: Services and other activity (% of GVA)',
    'Employment in agriculture (% of employed)',
    'Employment in industry (% of employed)',
    'Employment in services (% employed)',
    'GDP growth rate (annual %, const. 2015 prices)',
    'GDP per capita (current US$)',
    'GDP: Gross domestic product (million current US$)',
    'International trade: balance (million current US$)',
    'International trade: exports (million current US$)',
    'International trade: imports (million current US$)',
    'Unemployment (% of labour force)'
]

9              American Samoa
10             American Samoa
11             American Samoa
30                      Aruba
31                      Aruba
32                      Aruba
66                    Bermuda
67                    Bermuda
68                    Bermuda
84     British Virgin Islands
85     British Virgin Islands
86     British Virgin Islands
111            Cayman Islands
112            Cayman Islands
113            Cayman Islands
126                     China
127                     China
128                     China
144              Cook Islands
145              Cook Islands
146              Cook Islands
225             French Guiana
226             French Guiana
227             French Guiana
252                 Greenland
253                 Greenland
254                 Greenland
258                Guadeloupe
259                Guadeloupe
260                Guadeloupe
327                  Kiribati
328                  Kiribati
329                  Kiribati
381          Marshall Islands
382          Marshall Islands
383          Marshall Islands
384                Martinique
385                Martinique
386                Martinique
510                   Runion
511                   Runion
512                   Runion
531                San Marino
532                San Marino
533                San Marino
546                Seychelles
547                Seychelles
548                Seychelles
Name: Country, dtype: object

In [ ]:
df