In [1]:
import pandas as pd

In [3]:
df_general = pd.read_csv('../data/processed/general_info_clean.csv')
df_economic = pd.read_csv('../data/processed/economic_indicators_clean.csv')
df_social = pd.read_csv('../data/processed/social_indicators_clean.csv')
df_envinfra = pd.read_csv('../data/processed/environment_infrastructure_clean.csv')

In [4]:
df_timeseries = df_economic.merge(
    df_social, 
    on=['Country', 'Year'], 
    how='outer'
).merge(
    df_envinfra, 
    on=['Country', 'Year'], 
    how='outer'
)

df_timeseries.head()

,Country,Year,Agricultural production index (2014-2016=100),"Balance of payments, current account (million US$)",CPI: Consumer Price Index (2010=100),Economy: Agriculture (% of Gross Value Added),Economy: Industry (% of Gross Value Added),Economy: Services and other activity (% of GVA),Employment in agriculture (% of employed),Employment in industry (% of employed),...,Tourist/visitor arrivals at national borders (000),CO2 emission estimates - Total (million tons),CO2 emission estimates - Per capita (tons per capita),CO2 emission estimates - Total/CO2 emission estimates - Per capita Ratio,Pop. using safely managed drinking water - Urban (%),Pop. using safely managed drinking water - Rural (%),Pop. using safely managed drinking water - Urban/Pop. using safely managed drinking water - Rural Ratio,Pop. using safely managed sanitation - Urban (%),Pop. using safely managed sanitation - Rural (%),Pop. using safely managed sanitation - Urban/Pop. using safely managed sanitation - Rural Ratio
0,Afghanistan,2015.0,96.0,4193.0,133.0,22.0,9.6,68.3,44.6,20.7,...,NaN,9.5,0.3,3166.666667,31.8,21.2,150.000000,NaN,NaN,NaN
1,Afghanistan,2020.0,112.0,3137.0,150.0,31.4,13.6,55.0,46.0,18.5,...,NaN,11.3,0.3,3766.666667,35.6,25.9,137.451738,NaN,NaN,NaN
2,Afghanistan,2024.0,111.0,NaN,NaN,35.5,16.9,47.5,46.6,18.3,...,NaN,10.0,0.2,5000.000000,36.4,27.7,131.407942,NaN,NaN,NaN
3,Albania,2015.0,100.0,980.0,111.0,22.5,24.8,52.7,41.3,18.7,...,3784.0,3.8,1.3,292.307692,NaN,NaN,NaN,34.0,NaN,NaN
4,Albania,2020.0,106.0,1315.0,121.0,21.9,22.9,55.1,36.2,20.6,...,2604.0,3.5,1.2,291.666667,NaN,NaN,NaN,45.2,NaN,NaN

In [6]:
df_merged = pd.merge(df_timeseries, df_general, on='Country', how='left')
df_merged.head()

,Country,Year,Agricultural production index (2014-2016=100),"Balance of payments, current account (million US$)",CPI: Consumer Price Index (2010=100),Economy: Agriculture (% of Gross Value Added),Economy: Industry (% of Gross Value Added),Economy: Services and other activity (% of GVA),Employment in agriculture (% of employed),Employment in industry (% of employed),...,Capital city,Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date,Capital_city_pop
0,Afghanistan,2015.0,96.0,4193.0,133.0,22.0,9.6,68.3,44.6,20.7,...,Kabul,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19,4114.0
1,Afghanistan,2020.0,112.0,3137.0,150.0,31.4,13.6,55.0,46.0,18.5,...,Kabul,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19,4114.0
2,Afghanistan,2024.0,111.0,NaN,NaN,35.5,16.9,47.5,46.6,18.3,...,Kabul,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19,4114.0
3,Albania,2015.0,100.0,980.0,111.0,22.5,24.8,52.7,41.3,18.7,...,Tirana,93.9,Lek (ALL),101.9,2792.0,Southern Europe,97.8,28748.0,1955-12-14,484.6
4,Albania,2020.0,106.0,1315.0,121.0,21.9,22.9,55.1,36.2,20.6,...,Tirana,93.9,Lek (ALL),101.9,2792.0,Southern Europe,97.8,28748.0,1955-12-14,484.6