In [45]:
import pandas as pd

In [46]:
df_general_info = pd.read_csv('../data/processed/general_info_clean.csv')
df_general_info.head()

,Country,Capital city,Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date,Capital_city_pop
0,Afghanistan,Kabul,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19,4114.0
1,Albania,Tirana,93.9,Lek (ALL),101.9,2792.0,Southern Europe,97.8,28748.0,1955-12-14,484.6
2,Algeria,Algiers,134.3,Algerian Dinar (DZD),19.7,46814.0,Northern Africa,104.1,2381741.0,1962-10-08,2729.3
3,American Samoa,Pago Pago,1.0,US Dollar (USD),233.8,47.0,Polynesia,101.9,199.0,NaN,48.5
4,Andorra,Andorra la Vella,0.9,Euro (EUR),174.3,82.0,Southern Europe,104.6,468.0,1993-07-28,22.6

In [47]:
df_general_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       232 non-null    object
 1   Capital city                  232 non-null    object
 2   Exchange rate (per US$)       231 non-null    float64
 3   National currency             231 non-null    object
 4   Pop. density (per km2, 2024)  230 non-null    float64
 5   Population (000, 2024)        230 non-null    float64
 6   Region                        232 non-null    object
 7   Sex ratio (m per 100 f)       230 non-null    float64
 8   Surface area (km2)            226 non-null    float64
 9   UN membership date            193 non-null    object
 10  Capital_city_pop              231 non-null    float64
dtypes: float64(6), object(5)
memory usage: 20.1+ KB

In [48]:
df_general_info.isnull().sum()

Country                          0
Capital city                     0
Exchange rate (per US$)          1
National currency                1
Pop. density (per km2, 2024)     2
Population (000, 2024)           2
Region                           0
Sex ratio (m per 100 f)          2
Surface area (km2)               6
UN membership date              39
Capital_city_pop                 1
dtype: int64

In [49]:
# List countries with missing data in specific columns

missing_exchange = df_general_info[df_general_info['Exchange rate (per US$)'].isna()]['Country']
print(f"Countries missing exchange rate data ({len(missing_exchange)} total):")
print(missing_exchange.tolist())

print("\n" + "="*50)

missing_nationalcur = df_general_info[df_general_info['National currency'].isna()]['Country']
print(f"Countries missing National currency data ({len(missing_nationalcur)} total):")
print(missing_nationalcur.tolist())

print("\n" + "="*50)

missing_popdense = df_general_info[df_general_info['Pop. density (per km2, 2024)'].isna()]['Country']
print(f"Countries missing Pop. density (per km2, 2024) data ({len(missing_popdense)} total):")
print(missing_popdense.tolist())

print("\n" + "="*50)

missing_pops = df_general_info[df_general_info['Population (000, 2024)'].isna()]['Country']
print(f"Countries missing Population (000, 2024) data ({len(missing_pops)} total):")
print(missing_pops.tolist())

print("\n" + "="*50)

missing_sexratio = df_general_info[df_general_info['Sex ratio (m per 100 f)'].isna()]['Country']
print(f"Countries missing Sex ratio (m per 100 f) data ({len(missing_sexratio)} total):")
print(missing_sexratio.tolist())

print("\n" + "="*50)

missing_surfarea = df_general_info[df_general_info['Surface area (km2)'].isna()]['Country']
print(f"Countries missing Surface area (km2) data ({len(missing_surfarea)} total):")
print(missing_surfarea.tolist())

print("\n" + "="*50)

missing_date = df_general_info[df_general_info['UN membership date'].isna()]['Country']
print(f"Countries missing UN membership date data ({len(missing_date)} total):")
print(missing_date.tolist())

print("\n" + "="*50)

missing_capcitypop = df_general_info[df_general_info['Capital_city_pop'].isna()]['Country']
print(f"Countries missing Capital_city_pop data ({len(missing_capcitypop)} total):")
print(missing_capcitypop.tolist())

print("\n" + "="*50)

Countries missing exchange rate data (1 total):
['State of Palestine']

==================================================
Countries missing National currency data (1 total):
['State of Palestine']

==================================================
Countries missing Pop. density (per km2, 2024) data (2 total):
['Channel Islands', 'Holy See']

==================================================
Countries missing Population (000, 2024) data (2 total):
['Channel Islands', 'Holy See']

==================================================
Countries missing Sex ratio (m per 100 f) data (2 total):
['Channel Islands', 'Holy See']

==================================================
Countries missing Surface area (km2) data (6 total):
['Bonaire, Sint Eustatius and Saba', 'Channel Islands', 'Holy See', 'Mayotte', 'South Sudan', 'Sudan']

==================================================
Countries missing UN membership date data (39 total):
['American Samoa', 'Anguilla', 'Aruba', 'Bermuda', 'Bonaire, Sint Eustatius and Saba', 'British Virgin Islands', 'Cayman Islands', 'Channel Islands', 'China, Hong Kong SAR', 'China, Macao SAR', 'Cook Islands', 'Curaçao', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'French Guiana', 'French Polynesia', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Holy See', 'Isle of Man', 'Martinique', 'Mayotte', 'Montserrat', 'New Caledonia', 'Niue', 'Northern Mariana Islands', 'Puerto Rico', 'Réunion', 'Saint Helena', 'Saint Pierre and Miquelon', 'Sint Maarten (Dutch part)', 'State of Palestine', 'Tokelau', 'Turks and Caicos Islands', 'United States Virgin Islands', 'Wallis and Futuna Islands', 'Western Sahara']

==================================================
Countries missing Capital_city_pop data (1 total):
['Tokelau']

==================================================

1. Exchange Rate
    - State of Palestine has no piblic national currency  
2. National Currency
    - **Palestine** has no public national currency 
3. pop density, population, sex ration
    - **Channel Islands** and **Holy See** has no information regarding their population
4. Surface area
    - Counties missing these data are Depandant territories/ Special Jurisdiction
5. Missing capital city pop
    - Tokelau has no capital city

In [50]:
df_general_info.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Country,232,232,Afghanistan,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital city,232,232,Kabul,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Exchange rate (per US$),231.0,NaN,NaN,NaN,960.430303,4114.293114,0.3,1.0,8.1,135.25,42000.0
National currency,231,156,Euro (EUR),31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Pop. density (per km2, 2024)",230.0,NaN,NaN,NaN,474.423043,2370.161804,0.1,37.975,95.75,242.6,25926.8
"Population (000, 2024)",230.0,NaN,NaN,NaN,35377.695652,139490.536348,2.0,525.75,5711.5,24246.5,1450936.0
Region,232,22,Caribbean,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex ratio (m per 100 f),230.0,NaN,NaN,NaN,100.505217,15.44727,82.0,95.225,98.5,101.375,248.2
Surface area (km2),226.0,NaN,NaN,NaN,591581.115044,1796260.342929,2.0,4306.5,83706.0,427977.0,17098246.0
UN membership date,193,92,1945-10-24,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Capital_city_pop,231.0,NaN,NaN,NaN,2465.94329,4724.272247,0.1,140.0,919.4,2473.9,37435.2

In [51]:
df_economic_indicators = pd.read_csv('../data/processed/economic_indicators_clean.csv')
df_economic_indicators.head()

,Country,Year,Agricultural production index (2014-2016=100),"Balance of payments, current account (million US$)",CPI: Consumer Price Index (2010=100),Economy: Agriculture (% of Gross Value Added),Economy: Industry (% of Gross Value Added),Economy: Services and other activity (% of GVA),Employment in agriculture (% of employed),Employment in industry (% of employed),...,"GDP growth rate (annual %, const. 2015 prices)",GDP per capita (current US$),GDP: Gross domestic product (million current US$),International trade: balance (million current US$),International trade: exports (million current US$),International trade: imports (million current US$),Unemployment (% of labour force),Labour force participation rate - Female (per 100 pop.),Labour force participation rate - Male (per 100 pop.),Labour force participation rate - Female/Labour force participation rate - Male Ratio
0,Afghanistan,2015.0,96.0,4193.0,133.0,22.0,NaN,68.3,44.6,20.7,...,2.5,554.0,18700.0,7151.0,571.0,7723.0,9.0,19.1,75.3,25.365206
1,Afghanistan,2020.0,112.0,3137.0,150.0,31.4,NaN,55.0,46.0,18.5,...,2.1,512.7,19983.0,7484.0,783.0,8266.0,11.7,16.5,66.7,24.737631
2,Afghanistan,2024.0,111.0,NaN,NaN,35.5,NaN,47.5,46.6,18.3,...,6.2,344.6,14175.0,4337.0,456.0,4793.0,16.3,5.0,69.3,7.215007
3,Albania,2015.0,100.0,980.0,111.0,22.5,24.8,52.7,41.3,18.7,...,2.2,3950.4,11387.0,2391.0,NaN,NaN,17.2,47.0,64.1,73.322933
4,Albania,2020.0,106.0,1315.0,121.0,21.9,22.9,55.1,36.2,20.6,...,3.5,5289.0,15163.0,2995.0,NaN,NaN,12.8,50.1,64.7,77.434312

In [52]:
df_economic_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 21 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Country                                                                                687 non-null    object
 1   Year                                                                                   687 non-null    float64
 2   Agricultural production index (2014-2016=100)                                          594 non-null    float64
 3   Balance of payments, current account (million US$)                                     562 non-null    float64
 4   CPI: Consumer Price Index (2010=100)                                                   586 non-null    float64
 5   Economy: Agriculture (% of Gross Value Added)                                          621 non-null    float64
 6   Economy: Industry (% of Gross Value Added)                                             612 non-null    float64
 7   Economy: Services and other activity (% of GVA)                                        630 non-null    float64
 8   Employment in agriculture (% of employed)                                              578 non-null    float64
 9   Employment in industry (% of employed)                                                 579 non-null    float64
 10  Employment in services (% employed)                                                    18 non-null     float64
 11  GDP growth rate (annual %, const. 2015 prices)                                         630 non-null    float64
 12  GDP per capita (current US$)                                                           630 non-null    float64
 13  GDP: Gross domestic product (million current US$)                                      630 non-null    float64
 14  International trade: balance (million current US$)                                     633 non-null    float64
 15  International trade: exports (million current US$)                                     492 non-null    float64
 16  International trade: imports (million current US$)                                     492 non-null    float64
 17  Unemployment (% of labour force)                                                       586 non-null    float64
 18  Labour force participation rate - Female (per 100 pop.)                                580 non-null    float64
 19  Labour force participation rate - Male (per 100 pop.)                                  580 non-null    float64
 20  Labour force participation rate - Female/Labour force participation rate - Male Ratio  580 non-null    float64
dtypes: float64(20), object(1)
memory usage: 112.8+ KB

In [53]:
df.describe(include='all')

,Country,Capital city,Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date,Capital_city_pop
count,232,232,231.000000,231,230.000000,2.300000e+02,232,230.000000,2.260000e+02,193,231.000000
unique,232,232,NaN,156,NaN,NaN,22,NaN,NaN,92,NaN
top,Afghanistan,Kabul,NaN,Euro (EUR),NaN,NaN,Caribbean,NaN,NaN,1945-10-24,NaN
freq,1,1,NaN,31,NaN,NaN,26,NaN,NaN,27,NaN
mean,NaN,NaN,960.430303,NaN,474.423043,3.537770e+04,NaN,100.505217,5.915811e+05,NaN,2465.943290
std,NaN,NaN,4114.293114,NaN,2370.161804,1.394905e+05,NaN,15.447270,1.796260e+06,NaN,4724.272247
min,NaN,NaN,0.300000,NaN,0.100000,2.000000e+00,NaN,82.000000,2.000000e+00,NaN,0.100000
25%,NaN,NaN,1.000000,NaN,37.975000,5.257500e+02,NaN,95.225000,4.306500e+03,NaN,140.000000
50%,NaN,NaN,8.100000,NaN,95.750000,5.711500e+03,NaN,98.500000,8.370600e+04,NaN,919.400000
75%,NaN,NaN,135.250000,NaN,242.600000,2.424650e+04,NaN,101.375000,4.279770e+05,NaN,2473.900000
max,NaN,NaN,42000.000000,NaN,25926.800000,1.450936e+06,NaN,248.200000,1.709825e+07,NaN,37435.200000

In [54]:
df.isnull().sum()

Country                          0
Capital city                     0
Exchange rate (per US$)          1
National currency                1
Pop. density (per km2, 2024)     2
Population (000, 2024)           2
Region                           0
Sex ratio (m per 100 f)          2
Surface area (km2)               6
UN membership date              39
Capital_city_pop                 1
dtype: int64