In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/general_info_clean.csv')
df.head()

,Country,Capital city,Capital city pop. (000),"Capital city pop. (000, 2024)",Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date
0,Afghanistan,Kabul,NaN,4114.0,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19
1,Albania,Tirana,NaN,484.6,93.9,Lek (ALL),101.9,2792.0,Southern Europe,97.8,28748.0,1955-12-14
2,Algeria,Algiers,NaN,2729.3,134.3,Algerian Dinar (DZD),19.7,46814.0,Northern Africa,104.1,2381741.0,1962-10-08
3,American Samoa,Pago Pago,NaN,48.5,NaN,US Dollar (USD),233.8,47.0,Polynesia,101.9,199.0,NaN
4,Andorra,Andorra la Vella,NaN,22.6,0.9,Euro (EUR),174.3,82.0,Southern Europe,104.6,468.0,1993-07-28

In [7]:
# Fill missing 2024 data with older data
df['Capital_city_pop_merged'] = df['Capital city pop. (000, 2024)'].fillna(df['Capital city pop. (000)'])
df = df.drop(columns=['Capital city pop. (000)', 'Capital city pop. (000, 2024)'])

In [8]:
df.head()

,Country,Capital city,Exchange rate (per US$),National currency,"Pop. density (per km2, 2024)","Population (000, 2024)",Region,Sex ratio (m per 100 f),Surface area (km2),UN membership date,Capital_city_pop_merged,Country_Capital
0,Afghanistan,Kabul,77.1,Afghani (AFN),65.7,42648.0,Southern Asia,102.0,652864.0,1946-11-19,4114.0,Afghanistan (Kabul)
1,Albania,Tirana,93.9,Lek (ALL),101.9,2792.0,Southern Europe,97.8,28748.0,1955-12-14,484.6,Albania (Tirana)
2,Algeria,Algiers,134.3,Algerian Dinar (DZD),19.7,46814.0,Northern Africa,104.1,2381741.0,1962-10-08,2729.3,Algeria (Algiers)
3,American Samoa,Pago Pago,NaN,US Dollar (USD),233.8,47.0,Polynesia,101.9,199.0,NaN,48.5,American Samoa (Pago Pago)
4,Andorra,Andorra la Vella,0.9,Euro (EUR),174.3,82.0,Southern Europe,104.6,468.0,1993-07-28,22.6,Andorra (Andorra la Vella)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       232 non-null    object
 1   Capital city                  232 non-null    object
 2   Exchange rate (per US$)       216 non-null    float64
 3   National currency             231 non-null    object
 4   Pop. density (per km2, 2024)  230 non-null    float64
 5   Population (000, 2024)        230 non-null    float64
 6   Region                        232 non-null    object
 7   Sex ratio (m per 100 f)       230 non-null    float64
 8   Surface area (km2)            226 non-null    float64
 9   UN membership date            193 non-null    object
 10  Capital_city_pop_merged       231 non-null    float64
 11  Country_Capital               232 non-null    object
dtypes: float64(6), object(6)
memory usage: 21.9+ KB

In [12]:
df.isnull().sum()

Country                          0
Capital city                     0
Exchange rate (per US$)         16
National currency                1
Pop. density (per km2, 2024)     2
Population (000, 2024)           2
Region                           0
Sex ratio (m per 100 f)          2
Surface area (km2)               6
UN membership date              39
Capital_city_pop_merged          1
Country_Capital                  0
dtype: int64

In [ ]:
# List countries with missing data in specific columns

# Example 1: Countries missing exchange rate data
if 'Exchange rate (per US$)' in df.columns:
    missing_exchange = df[df['Exchange rate (per US$)'].isna()]['Country']
    print(f"Countries missing exchange rate data ({len(missing_exchange)} total):")
    print(missing_exchange.tolist())

print("\n" + "="*50)

# Example 2: Countries missing surface area data
if 'Surface area (km2)' in df.columns:
    missing_surface = df[df['Surface area (km2)'].isna()]['Country']
    print(f"Countries missing surface area data ({len(missing_surface)} total):")
    print(missing_surface.tolist())

print("\n" + "="*50)

# Example 3: Show full rows for countries with missing population density
if 'Pop. density (per km2, 2024)' in df.columns:
    missing_density = df[df['Pop. density (per km2, 2024)'].isna()]
    print(f"Countries missing population density data ({len(missing_density)} total):")
    print(missing_density[['Country', 'Pop. density (per km2, 2024)', 'Population (000, 2024)']].head(10))

print("\n" + "="*50)

# Example 4: Check missing data for merged capital city population
missing_capital_pop = df[df['Capital_city_pop_merged'].isna()]['Country']
print(f"Countries missing capital city population data ({len(missing_capital_pop)} total):")
print(missing_capital_pop.tolist())